@import "tailwindcss";

@theme {
  --color-gulabi-50: #fff0f6;
  --color-gulabi-100: #ffd6e7;
  --color-gulabi-200: #ffadd2;
  --color-gulabi-300: #ff85c0;
  --color-gulabi-400: #f759ab;
  --color-gulabi-500: #eb2f96;
  --color-gulabi-600: #c41d7f;
  --color-gulabi-700: #9e1068;
  --color-gulabi-800: #780650;
  --color-gulabi-900: #520339;
  --color-haldi: #f5c518;
  --color-mehndi: #2d6a4f;
  --color-chai: #8b6914;

  --font-heading: 'Playfair Display', serif;
  --font-body: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-gulabi-50);
}

h1, h2, h3 {
  font-family: var(--font-heading);
}
